* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 62.5%;
  line-height: 1.6;
}

/* HEADER SECTION */

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}

#bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  right: 0;
  background-color: #111;
  mix-blend-mode: overlay;
}

.header {
  min-height: 100vh;
  min-width: 100vw;
  background-color: white;
}

.header-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 0;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  height: 4rem;
  background-color: #faae57;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.brand {
  width: 4.5rem;
  border-radius: 50%;
  margin-right: auto;
  height: 4.5rem;
}

.navbar__list {
  display: flex;
  padding: 3rem;
  align-items: center;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
}

li {
  transition: all 0.2s;
}

li:hover {
  transform: translateY(-2px);
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2px;
  transition: all 0.2s;
}

.nav-link:hover {
  color: black;
}

.title {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;
}

.title__text {
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title__text > h1 {
  font-size: 8rem;
  font-weight: 800;
  color: #faae57;
  text-transform: uppercase;
  letter-spacing: 13px;
}

.title__text > p {
  z-index: 1;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: black;
}

.buttons {
  display: flex;
  margin-left: 4rem;
  font-family: sans-serif;
}

.btn {
  width: 20rem;
  height: 6rem;
  margin-top: 8rem;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  padding: 1.4rem;
  background-color: #111;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
}

menu {
  display: none;
}

@media only screen and (max-width: 768px) {
  menu.active {
    position: absolute;
    top: 6rem;
    right: 0;
    display: flex;
    background-color: #faae57;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    height: 50%;
    z-index: 501;
  }
  .responsive__navbar {
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    list-style: none;
  }
  .hamburger {
    align-self: center;
    justify-self: center;
    display: flex;
    height: 25px;
    width: 50px;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .hamburger:hover {
    cursor: pointer;
  }
  .bar {
    background-color: white;
    height: 3px;
    border-radius: 10px;
    width: 30px;
    transition: all 0.2s;
  }
  .navbar__list {
    display: none;
  }
}

.btn.apple > svg {
  height: 7rem;
  width: 7rem;
}

.btn.google > svg {
  fill: #78c257;
}

.btn > svg {
  height: 5rem;
  margin-top: 0.5rem;
  width: 5rem;
  fill: white;
  margin: 1rem;
}

.btn > a {
  text-decoration: none;
  color: white;
  font-size: 0.1rem;
  text-transform: inherit;
}

a > span {
  line-height: 1;
  margin-top: 1rem;
  text-align: start;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .title__text > h1 {
    font-size: 6rem;
    text-align: center;
  }

  .title__text > p {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
  }
}

/* END HEADER SECTION */

/* ABOUT SECTION */
.about {
  min-height: max-content;
}

.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  min-height: fit-content;
}

.about-header {
  color: #faae57;
  padding: 1rem;
  font-size: 6rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 4rem;
  border-right: 2px solid #faae57;
}

.about-text {
  font-size: 2.2rem;
  margin-bottom: 10rem;
  padding: 3rem;
}

.about-bg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about-img1 {
  width: 100%;
  align-self: stretch;
  object-fit: cover;
}
.about-img2 {
  object-fit: cover;
  width: 100%;
}

.about-img3 {
  width: 100%;
  align-self: stretch;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .about-header {
    font-size: 5rem;
  }

  .about-text {
    font-size: 2rem;
    padding: 4rem;
  }
}

/* END ABOUT SECTION */

/* FEATURES SECTION */
.features {
  display: flex;
  flex-direction: column;
  min-height: max-content;
  background-image: linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(./img/feature.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.features-heading {
  color: #faae57;
  text-transform: uppercase;
  align-self: center;
  letter-spacing: 3px;
  margin-top: 6rem;
  font-size: 6rem;
}

.features-container {
  display: flex;
  padding: 5rem;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.feature-box {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem;
  flex-direction: column;
  color: white;
  max-width: 30rem;
  max-height: 40rem;
  margin: 6rem 5rem;
}

.feature-box > svg {
  fill: #faae57;
  height: 5rem;
  width: 5rem;
}

.feature-title {
  font-size: 2.4rem;
  color: #faae57;
  justify-self: center;
}

.feature-text {
  justify-self: center;
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: 600;
}

/*END FEATURES SECTION */

/* START APP SECTION */
.faq {
  min-height: 100vh;
  background: linear-gradient(-45deg, #faae57, rgba(240, 133, 10, 0.719));
  display: flex;
  flex-direction: column;
}
.faq h1 {
  margin-top: 3rem;
  color: white;
  font-size: 6rem;
  align-self: center;
}
.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.faq-card {
  border-radius: 1rem;
  padding: 4rem 5rem;
  background-color: white;
  margin: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50rem;
}

.faq-card:hover {
  cursor: pointer;
}

.faq-card h4 {
  font-size: 2rem;
  text-align: center;
}

.faq-card p {
  display: none;
}

.faq-card p.active {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.faq-card span {
  font-size: 3rem;
  font-weight: 800;
  position: absolute;
  right: 10px;
  bottom: 0;
  transform: rotateZ(90deg);
}

.faq-card span:hover {
  cursor: pointer;
}

.faq-btn {
  margin: 5rem 0;
}

.faq-btn > button {
  border: none;
  font-size: 3rem;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.4s;
  outline: none;
}

.faq-btn > button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .faq-btn > button {
    font-size: 2rem;
    border: 2px solid white;
  }
}

/* END APP SECTION */

/* FOOTER SECTION */
.footer {
  height: 30vh;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.footer-text {
  padding: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15rem;
  font-weight: 600;
}
.footer-logo > img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}

.footer-info > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-info > ul > li {
  margin: 0.8rem;
  transition: all 0.2s;
}

.footer-info > ul > li:hover {
  transform: translateY(-2px);
  color: #faae57;
}

.footer-link {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.2s;
}

.footer-link:hover {
  color: #faae57;
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials {
  fill: black;
  height: 2.5rem;
  width: 2.5rem;
  margin: 3rem;
  transition: all 0.2s;
}

.socials:hover {
  fill: #faae57;
  transform: translateY(-2px);
  cursor: pointer;
}

.copyright {
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25rem;
  }
}
/* END FOOTER SECTION */
